body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header {
    background-color: #f8b400;
    padding: 10px;
}

nav {
    display: inline-block;
    width: 80%;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

.skip-link {
    position: absolute;
    left: -999px;
}

.skip-link:focus {
    left: 0;
    background: #000;
}